/*UTILITIES*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body {
	padding: 0;
	margin: 0;
	background: #f6daff;
	font-family: 'Courier New', Courier, monospace;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color:#b387c1;
	font-weight: 400;

}
.navbar-header {
	float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.navbar-brand{
	float:none;
	font-size: 5rem;
	
}

.nav-link,
.navbar-brand {
	color: #000000;
	cursor: pointer;
	align-content: center;
	float:none;
	font-weight: 400;

	
}

.nav-link {
	margin-right: 1em !important;
	font-weight: 500;
	
	 
}
.navbar-brand:hover {
	color: #980000;
}
.nav-link:hover {
	color: #980000;
}
.navbar-collapse {
	display: flex;
	justify-content: center;
	font-weight: 400;
}

.header {
	background-image: url('images/hd-wallpaper-3625405_1920.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 260px;

}
.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #b387c1;
	-webkit-text-stroke: 1px #caa9d4;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description a {
	border:1px solid #b387c1;
	background: #b387c1;
	border-radius: 0;
	color: #fff;
}
.description a:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	margin-top:20px;
	text-transform: uppercase;
	
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	
	
}
.dropdown-menu{
	background-color: #b387c1;
	border-color: #b387c1;
}
.dropdown-item:hover{
	background-color:#980000;
	color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.feature-text{
	margin-top: 16px;
	
	margin-top:20px;
	
}
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
	background-color: #b387c1;
	border: 1px solid #b387c1;
	color: #fff;
	margin-top: 20px;
}
.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}
.features .holder{
	position: relative;
	margin-bottom: 10px;
}
.features .holder .image{
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
  	backface-visibility: hidden;
	text-align: center;
}
.features .holder .text{
	position: absolute;
	color: white;
	font-size: 20px;
	bottom: 50%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
.features .holder .a{
	align-content: center;
	text-align: center;
}
.features .holder .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	background-color: #b387c1;
	text-align: center;

}
.features .holder .overlay:hover{
	opacity: 1;
}
.background {
	background: #d9cfdc;
	padding: 4em 0;
}
.team {
	text-align: center;
	color: #5e5e55;
	padding: 0 180px;
}
.row {
	align-items: center;
}
.team .card-columns {	
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card-title {
	padding: 4em 0;
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
	text-align: center;
}
.team .card {
	background: #d9cfdc;
	border: none;
}
.team .card-body .btn{
	background-color: #b387c1;
	border: none;
	color: #fff;
	margin-top: 20px;
}


.team .card-body .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}
.page-footer {
	background-color: #222;
	color: #ccc;
	padding: 60px 0 30px;
}

.creative_port{
	align-content: center;
	text-align: center;
}


.creative_port h1{
	
	background-color: #ffffff45;
	font-weight: 700;
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 70px;
	margin-bottom:0;
	font-size: 4em;
	
	
}

.creative_port p {
	background-color: #ffffff45;
	margin-left: 200px;
	margin-right: 200px;
	font-weight: 150;
	margin-top: 25px;
	margin-bottom:0;
	
}
.navbar-brand .creative{
	font-size: 4rem;
}

.creative_port h3 {
	background-color: #ffffff45;
	font-weight: 200;
	margin-left: 550px;
	margin-right: 550px;
	font-weight: 150;
	margin-top: 50px;
	margin-bottom:50px
}
.creative_port h2 {
	background-color: #ffffff45;
	font-weight: 700;
	margin-left: 500px;
	margin-right:500px;
	margin-top: 50px;
	margin-bottom: 0px;
	
}
.creative_port h4 {
	background-color: #ffffff45;
	
	margin-left: 500px;
	margin-right:500px;
	margin-top: 25px;
	margin-bottom: 0px;
	
}
.hunt {
	padding: 4em;
}
.diviner{
	padding: 4em;
}
.autumn{
	padding: 4em;
}
.discretion{
	padding: 4em;
}
.newleaf{
	padding: 4em;
}
.changeling{
	padding:4em;
}
.afterglow{
	padding:4em;
}
.afterglow .container{
	padding: 4em;
}
.page-footer a {font-family:Georgia, serif; font-size:large}
.page-footer a:link {color:#c100ff;}
.page-footer a:visited {color:#9c00cd;}
.page-footer a:hover {color:#61007f;text-decoration:none;font-weight:bold;}
.page-footer a:active {color:#ff00d5; text-decoration: underline;}
	
.footer-copyright {
	color: #666;
	padding: 40px 0;
}
@media (max-width: 575.98px) {
	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;		
	}
	.features {
		margin: 0;
	}
	
}

#demo-modal .modal-content {
	border-radius: 0;
	padding: 2rem;
}
#demo-modal .modal-header {
	border-bottom: none;
}
#demo-modal h4 {
	color: #000;
	font-size: 30px;
	margin: 0 0 25px;
	font-weight: bold;
	text-transform: capitalize;
}
#demo-modal .close {
	background: #c0c3c8;
	border-radius: 50%;
	color: #fff;
	font-size: 19px;
	font-weight:normal;
	height: 30px;
	opacity: 0.5;
	padding: 0;
	position: absolute;
	right: 26px;
	text-align: center;
	top: 26px;
	width: 30px;
}
#demo-modal .close span {
	position: relative;
	top: -3px
}
#demo-modal .modal-body p {
	color: #999;
}
#demo-modal .form-control,
#demo-modal .btn {
	min-height: 46px;
}
#demo-modal .btn {
	background-color: #1da098;
	border: none;
	color: #fff;
	min-width: 150px;
	transition: all 0.4s;
}
#demo-modal .btn:hover,
#demo-modal .btn:focus {
	background-color: #12968d;
}